<%= label_tag :name %>
<%= content_tag :p, "#{@user.name}" %>

<%= label_tag :email %>
<%= content_tag :p, "#{@user.email}" %>

<ul>
<%= label_tag :upcoming_events %>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to "<<", event_path(event) %>
      <%= "#{event.date}, hosted by #{event.host.name}" %>
    </li>
  <% end %>
</ul>
<ul>
<%= label_tag :past_events %>
  <% @past_events.each do |event| %>
    <li>
      <%= link_to "<<", event_path(event) %>
      <%= "#{event.date}, hosted by #{event.host.name}" %>
    </li>
  <% end %>
</ul>