<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= form_for(@event) do |f| %>

    <%= f.hidden_field :host_id, value: "#{User.first.id}" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: 5 %>

    <%= f.label :date %>
    <%= f.datetime_field :date, class: 'form-control', min: Date.today %>

    <%= f.submit 'Post', class: "btn btn-primary", id: 'form-btn'  %>

  <% end %>
  </div>
</div>
