<%= label_tag :date %>
<%= content_tag :p, "#{@event.date}" %>

<%= label_tag :description %>
<%= content_tag :p, "#{@event.description}" %>

<%= label_tag :attending %>
<ul>
<% @event.attendees.each do |attendee| %>
  <li> <%= link_to "#{attendee.name}", user_path(attendee) %></li>
<% end %>
</ul>